/* Setter standard skrifttype for hele nettsiden */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Definerer et grid-container som inneholder header, main og footer */
#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    background-color: rgb(200, 82, 182);
}

/* Legger til litt padding til header, main og footer for mellomrom */
header, main, footer {
    padding: 1rem;
}

/* Styler header-seksjonen */
header {
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
}

/* Gjør navigasjonselementene i header til flexbokser som er justert mellomrom og til høyre */
header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Gjør logo-lenken uten understrek */
.logo {
    text-decoration: none;
    width: 30%;
    
}
.top-icons {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.menu-icon,
.search-icon,
.cart-icon,
.sign-in-icon {
    cursor: pointer;
}

.breadcrumb {
    background-color: pink;
    padding: 5px;
    margin-top: 20px;
}
/* Skjuler standard navigasjonsmeny */
.navbar {
    display: none;
}

.navbar a:hover {
    font-weight:bolder;
}

.new-arrivals img{
    width:100%;
    height:5rem;
}
/* Styler responsiv navigasjonsmeny */
.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

/* Styler en svart knapp */
.black-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

/* Styler main-seksjonen i gridet */
main {
    grid-area: main;
}

/* Setter bredden til bilder inni main-seksjonen til 100% */
.articlecalss img {
    width: 100%;
}

.articlecalss h2 {
    background-color:#f4c6f1;
}
/* Styler footer-seksjonen i gridet */
footer {
    grid-area: footer;
}
.footerclass article ul {
    list-style:none;
}

.oss {
    display: flex;
    justify-content:space-between;
}



/*Product*/
.product {
    width: 80%;
    padding: 100px 0px;
    margin:auto;
    background-color: #f4c6f1;
}
.product img {
    height:auto;
    width:30%;
}

.pro-text {
    width: 45%;
}
.pro-main{
     width:95%;
     max-width:95%;
     margin:0 auto;
     display:flex;
     align-items:center;
     justify-content:space-around;
}
.pro-text h2{
    color: white;
    letter-spacing:2px;
    font-size:22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.pro-text p {
    letter-spacing:1px;
    line-height:28px;
    font-size:18px;
    margin-bottom:45px;
}
.pro-main button {
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}
.pro-main button :hover) {
    background-color: transparent;
    border: 7px solid black;
}
/* Mediestørrelsesregel for skjermer som er bredere enn 600px */
@media only screen and (min-width: 600px) {
    /* Endrer gr        id-malen for bredere skjermer */

    #grid-container {
            grid-template-areas: "header header header" "main main main" "footer footer footer";
        }

        /* Viser den skjulte navigasjonsmenyen og skjuler menyikoner */
        .navbar {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            list-style: none;
            margin: 0;
        }

        /* Skjuler menyikoner i header */
        #ham, .fa-magnifying-glass {
            display: none;
        }

        /* Gjør flex-seksjoner som viser bilder og tekst ved siden av hverandre med mellomrom */
        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;
            justify-content: space-between;
        }

        /* Reduserer bildenes bredde til 50% i flex-seksjoner 
        .articlecalss img {
            width: 100%;
        }
            */
        /* Legger til litt mellomrom og justering i flex-seksjoner */


        /* Endrer rekkefølgen av bilde og tekst i høyrejusterte seksjoner 
    .right img {
        order: 1;
    }
}*/


        /* Styler tjeneste-seksjonen med flexbokser og bakgrunnsfarge */
        .footerclass {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 1rem;
            justify-content: space-around;
        }

            .footerclass h2 {
                width: 100%;
                text-align: center;
            }

            .footerclass article {
                max-width: 300px;
                width: 100%;
                min-width: 200px;
            }
    }

